{% extends 'base.html.twig' %}

{% block title %}J'agis{% endblock %}

{% block body %}


    {% block stylesheets %}
        <link rel = "stylesheet" href = "assets/css/jagis.css">
    {% endblock %}
    
    <main>
        <div class="container-fluid backgroundjesoutiens">
            <div class="container row">
                <section id="jesoutiens">
                    <div id="jesoutienstxt" class="col-sm-12 col-md-12 col-lg-5">
                        <h2 class="text-center couleurtxt">Je soutiens</h2>
                        <p class="couleurtxt textsize"> 
                        Face au harcèlement, il<span class="font_orange"> n'est pas facile d'agir</span>, et parfois même, de se confier. <br>On peut avoir peur d'aggraver la situation ou de <span class="font_rose">se sentir jugé</span>.<br>On peut penser que l’on a pas été assez fort, que c’est mérité ou que <span id="makeup"> personne ne nous prendra au sérieux</span>.
                        <br>
                        <br>
                        <span class="font_rose">Bullee</span> t'accompagne donc pour<span class="font_orange"> ne laisser personne seul face au harcèlement</span>, en apprenant comment écouter, soutenir et aider.
                        </p>
                    </div>

                    <div id="jesoutiensbulle" class="col-6">
                        <img class="img-fluid" id="bulle-ce-nest-pas-de-ta-faute-1" src="assets/img/agis/bulle-pas-de-ta-faute-144px.svg" alt="bulle">
                        <img class="img-fluid" id="bulle-il-navait-pas-le-droit-1" src="assets/img/agis/bulle-pas-le-droit-313px.svg" alt="bulle">
                        <img class="img-fluid" id="bulle-je-epux-taider-1" src="assets/img/agis/bulle-je-peux-taider-144px.svg" alt="bulle">
                        <img class="img-fluid" id="bulle-tu-nest-pas-seule-1" src="assets/img/agis/bulle-je-te-soutiens-313px.svg" alt="bulle">
                    </div>
                </section>
                <img id="reconfort" src="/assets/img/agis/reconfort.svg" alt="image">

            </div>
        </div>

        <div class="container-fluid">
            <div class="container">
                <section id="soutenir4etapes">
                    <h2 class="text-center">Soutenir en 4 étapes</h2>
                    <div class="d-flex justify-content-between flex-wrap text-center align-items-center">
                        <article class="cardsoutenir col-10">
                            <h3 class="num">1</h3>
                            <h4 class="blue">Rassurer</h4>
                            <p>Met en avant le courage dont la personne a fait preuve pour parler et le fait qu'elle a eu raison de le faire.</p>
                        </article>

                        <article class="cardsoutenir col-10"> 
                            <h3 class="num">2</h3>
                            <h4>Déculpabiliser</h4>
                            <p>Déculpabiliser la victime en lui disant qu'aucune attitude de sa part ne justifie les violences subies et que l'agresseur est le seul responsable.</p>
                        </article>

                        <article class="cardsoutenir col-10">
                            <h3 class="num">3</h3>
                            <h4 class="blue">Reformuler</h4>
                            <p>Il est possible que la victime minimise les faits. Met des mots sur ce qu'elle a vécu et dis-lui que ce qu'elle a vécu n'est pas normal, qu'il s'agit de violence et que c'est interdit par la loi.</p>
                        </article>

                        <article class="cardsoutenir col-10">
                            <h3 class="num">4</h3>
                            <h4>Accompagner</h4>
                            <p>Sois attentif à ses besoins. Accompagne la et dirigez la vers de l'aide dans la mesure du possible.</p>
                        </article>       
                    </div>
                </section>
            </div>
        </div>

        <div class="container-fluid backgroundjepreviens">
            <div class="container">
                <h2 class="text-center">Je préviens</h2>
                <section id="jepreviens" class="row align-items-center">
                    <img class="image col-5"  src="assets/img/agis/reunion-adulte.svg" alt="photo">
                    <article class="offset-1 col-6">
                        <h3 class="text-center">Un adulte compétent</h3>
                        <p class="couleurtext">Parent, professeur, CPE… N'hésite pas à demander de l'aide autour de toi. Passer le relais aidera à faire face à cette situation compliquée.
                        En effet, même si Bullee te donne des clés pour savoir comment réagir face au harcèlement, ce n'est pas de ta responsabilité de tout gérer. N'hésite jamais à demander de l'aide.
                        </p>
                        <a href="https://www.service-public.fr/particuliers/vosdroits/F31985#:~:text=r%C3%A9alisation%20des%20faits.-,Alerter%20les%20services%20de%20l%27%C3%A9ducation%20nationale,lutte%20contre%20les%20violences%20scolaires" class="bouton" class="text-center" target="_blank">en savoir +</a>
                    </article>

                    <article class="col-6">
                        <h3 class="text-center">La direction de l'établissement</h3>
                        <p class="couleurtext">Tout membre du personnel éducatif qui a connaissance de faits de harcèlement doit avertir sans délai le procureur de la République. Tous les renseignements concernant les faits doivent lui être transmis. Cela entre dans le plan de lutte contre le harcèlement. La victime et/ou ses parents peuvent également saisir la direction académique des services de l'éducation nationale, pour demander, par exemple, un changement d'établissement.</p>
                        <a href="https://www.service-public.fr/particuliers/vosdroits/F31985#:~:text=r%C3%A9alisation%20des%20faits.-,Alerter%20les%20services%20de%20l%27%C3%A9ducation%20nationale,lutte%20contre%20les%20violences%20scolaires" class="bouton" class="text-center" target="_blank">en savoir +</a>
                    </article>
                    <img class="image offset-1 col-5" src="assets/img/agis/discussion-prof.svg" alt="photo">

                    <img class="image col-5" src="assets/img/agis/appel.svg" alt="photo">
                    <article class="offset-1 col-6">
                        <h3 class=text-center>La justice </h3>
                        <p class="couleurtext">La victime mineure ne peut pas porter plainte seule.Toutefois, elle peut signaler les faits par le biais d'une main courante. Mais si la victime mineure veut être impliquée dans le reste de la procédure, elle devra être représentée par une personne majeure (parent, tuteur,...). En revanche, la victime émancipée ou majeure peut porter plainte contre le(s) auteur(s) du harcèlement, quel que soit leur âge.Dans tous les cas, la victime a 6 ans, après les faits, pour déposer plainte.</p>
                        <a href="https://www.service-public.fr/particuliers/vosdroits/F31985#:~:text=r%C3%A9alisation%20des%20faits.-,Alerter%20les%20services%20de%20l%27%C3%A9ducation%20nationale,lutte%20contre%20les%20violences%20scolaires" class="bouton" class="text-center" target="_blank">en savoir +</a>
                    </article>

                </section>

            </div>

        </div>
        <Section id="boiteaoutils" class="container-fluid">
            <div id="onglets">
                <div id="boutons-boite-outils" class="d-flex justify-content-around">
                    <h3 id="btnatelier"><span id="boutonateliers" class="actif">Ateliers</span></h3>
                    <h3 id="btnarticle"><span id="boutonarticles">Articles</span></h3>
                </div> 
            </div>
            <div id="boiteaoutils">
                <div class="row">
                    <div class="col-lg-1">
                        <i class="btn-prev"></i>
                    </div>
                    <div class="col-lg-10">
                        
                        <div class="container articles-ateliers-container">
                            <div class="d-flex justify-content-between flex-no-wrap articles">

                                {% for article in articles %}
                                <article class="col-lg-3 col-sm-12 article inactif">
                                    <div>
                                        {% if article.url == null %}
                                        <a href="{{ path('app_article', {'slug':article.slug} ) }}">
                                        {% else %}
                                        <a href="{{ article.url }}">
                                        {% endif %}
                                            <img src="assets/img/agis/articles/{{ article.thumbnail }}" alt="">
                                            <h3>{{ article.title }}</h3>
                                            <p>{{  article.description }}</p>
                                            <p class="voir">Voir plus</p>
                                        </a>
                                    </div>
                                </article>
                                {% endfor %}

                                {% for workshop in workshops %}
                                <article class="col-lg-3 col-sm-12 atelier">
                                    <div>
                                        {% if workshop.url == null %}
                                        <a href="{{ path('app_workshop', {'slug':workshop.slug} ) }}">
                                        {% else %}
                                        <a href="{{ workshop.url }}">
                                        {% endif %}
                                            <img src="assets/img/agis/ateliers/{{ workshop.thumbnail }}" alt="">
                                            <h3>{{ workshop.title }}</h3>
                                            <p>{{  workshop.description }}</p>
                                            <p class="voir">Voir plus</p>
                                        </a>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-1">
                        <i class="btn-next"></i>
                    </div>
                </div> 
            </div>
        </Section>

    </main>
    
{% endblock %}

{% block javascripts %}     
    <script src="/assets/js/sliderJagis.js"></script>
    <script src="/assets/js/boiteOutils.js"></script>
{% endblock %}